.css-1iy4yv3-MuiGrid-root {

  margin-top: 30px !important;

}

.css-17gfsc2-MuiPaper-root-MuiCard-root {
  margin-bottom: 25px;
}
.css-vt1xvu-MuiGrid-root {
  margin-top: 30px !important;
}

.collectionNameContainer {
  display:flex;
  margin-top: 30px !important;
  background-color: beige;
  justify-content:space-between;
}

.collectionNameContainerButton {
  justify-content: right;
  align-content: center;
}